2nd Year/Semester 3/IoT/Quiz4/21127329.json
[
    {
        "id": "0f61968e746ed47b",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "445dc10efc82d95f",
        "type": "ui_form",
        "z": "0f61968e746ed47b",
        "name": "Login",
        "label": "",
        "group": "93189c553a92dfb8",
        "order": 13,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "user",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "pass",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "user": "",
            "pass": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "62982001127b1874"
            ]
        ]
    },
    {
        "id": "f8f2b556beda496b",
        "type": "ui_ui_control",
        "z": "0f61968e746ed47b",
        "name": "",
        "events": "all",
        "x": 780,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "62982001127b1874",
        "type": "function",
        "z": "0f61968e746ed47b",
        "name": "CheckLogIn",
        "func": "if (msg.payload.user == \"admin\" && msg.payload.pass ==  \"admin\") {\n    msg.payload = { \"tab\" : \"Home\"};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 240,
        "wires": [
            [
                "f8f2b556beda496b"
            ]
        ]
    },
    {
        "id": "fcf7a09df6adb826",
        "type": "ui_text",
        "z": "0f61968e746ed47b",
        "group": "6c1ba2735314f7b1",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Class: 21CLC4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "dc5631333a06f3a0",
        "type": "ui_text",
        "z": "0f61968e746ed47b",
        "group": "6c1ba2735314f7b1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Student's Name: Châu Tấn Kiệt",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "ccb4f9807ee43629",
        "type": "ui_text",
        "z": "0f61968e746ed47b",
        "group": "6c1ba2735314f7b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ID: 21127329",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "498cd307ccd6298b",
        "type": "ui_spacer",
        "z": "0f61968e746ed47b",
        "name": "spacer",
        "group": "1b8f286fc8464fe2",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "93189c553a92dfb8",
        "type": "ui_group",
        "name": "Default",
        "tab": "fa9fa5ee65751255",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c1ba2735314f7b1",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "100374480efc1ff7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa9fa5ee65751255",
        "type": "ui_tab",
        "name": "Login",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "100374480efc1ff7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]